[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
scikit-learn = "==1.5.2"
ipykernel = "*"
flask = "*"
gunicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
